@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');

h1,h2, body{
  font-family: 'Chivo', sans-serif !important;
}

.is_loading{
  /*min-height: 200px;*/
}
.is_loading:after, .is_loading_no_height:after{

    /* min-height: 220px; */
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 / 66%);
    top: 0;
    right: 0;
    position: absolute;
    display: inline-block;
}
 
.is_loading:before, .is_loading_no_height:before{
    z-index: 2;
    content: "";
    width: 100%;
    height: 100%;
    background: url("/loader-boss.gif")    /* image */
     center 25% / 20px 20px /* position / size */
     no-repeat;
    top: 0;
    right: 0;
    position: absolute;
    display: inline-block;
}

.wrapper {
    min-height: 600px;
}

/** DIRECTORIES STYLES **/

.directory-area {
    width: 100%;
}

.directory-box {
    display: flex;
    flex-wrap: wrap;
}

.directory-single{
    width: calc(25% - 10px);
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}


ul.manager-action-icons {
    position: relative;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul.manager-action-icons li{
    cursor:pointer;
    width:100px;
    text-align:center;
    border: 1px solid #89a745;
    padding:20px;
    margin-right: 10px;
    border-radius:5px;
}

ul.manager-action-icons li i{
    display:block;
}

ul.manager-action-icons li.disable-icon {
    border: 1px solid #ccc;
    color: #e5e5e5;
}

ul.manager-action-icons li.paste-active {
  border: 1px solid #28a745;
    color: #28a745;
}

.manager-action-details {
    margin: 10px 0;
    border: 1px solid #e5e5e5;
    padding: 10px;
}

h2.media-extention-show {
    font-size: 80px;
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}
.folder-add-area {
}

.folder-add-area input{
    color: #000;
    font-size: 25px;
    border:1px solid #89a745;
    border-radius:5px;
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #89a745;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #89a745;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #89a745;
}

h2.nofile-message {
    font-size: 100px;
    color: #e9e9e9;
}

/** AUTH **/
p.help-info {
    /* background: #eee; */
}

p.help-info span{
    padding: 0 10px;
    color: #28a745;
    background: #fff1f1;
}
/** TREE **/

.tree-manage-area {}
.tree-manage-area i{color:#28a745;}
.tree-manage-area li{}

.tree {
  position: relative;
  background: white;
  margin-top: 20px;
  padding: 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.tree span {
  /*   font-size: 13px;
  font-style: italic;
  letter-spacing: 0.4px;
  color: #a8a8a8; */
  cursor: pointer;
  }
.tree .fa-folder-open,
.tree .fa-folder {
  color: #007bff;
}
.tree .fa-html5 {
  color: #f21f10;
}
.tree ul {
  padding-left: 5px;
  list-style: none;
}
.tree ul li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tree ul li:before {
  position: absolute;
  top: 15px;
  left: 0;
  width: 10px;
  height: 1px;
  margin: auto;
  content: "";
  background-color: #666;
}
.tree ul li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
  content: "";
  background-color: #666;
}
.tree ul li:last-child:after {
  height: 15px;
}
.tree ul a {
  cursor: pointer;
}
.tree ul a:hover {
  text-decoration: none;
}